# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
ENV/
.venv/
*.egg-info/
dist/
build/
*.egg
*.log

# VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Jupyter
.ipynb_checkpoints/

# Node
node_modules/

# Ignore large data files
processed_data/*.csv
